// Colors
$white: #fff !default;
$grey: #8A8A8A !default;
$light-grey: #EEE !default;
$dark-grey: #333 !default;
$bright-yellow: #F4B90A !default;
$project-01: #4E8DC8 !default;
$project-02: #5BA7EB !default;
$project-03: #3F77A5 !default;
$skill-01: #3F55A5 !default;
$skill-02: #4E5AC8 !default;
$skill-03: #5B5CEB !default;
$home-01: #4F3FA5 !default;
$home-02: #604EC8 !default;
$home-03: #715BEB !default;

//fonts
$poppins-font: 'Poppins', sans-serif !default;
$roboto-font: 'Roboto', sans-serif !default;
$light-weight: 300 !default;
$regular-weight: 400 !default;
$medium-weight: 500 !default;
$semi-bold-weight: 600 !default;
$bold-weight: 700 !default;
$root-size: 15px !default;
$base-size: 1rem !default;