@import "./base/normalize";
@import "./base/variables";
@import "./base/_mixins";

html {
  @include size();

  box-sizing: border-box;
  font-size: $root-size;
  color: $dark-grey;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  @include size();
  @include flexbox(center);
  
  overflow: hidden;
  font: {
    family: $lato-font;
    size: $base-size;
    weight: $regular-weight;
    line-height: 18px;
  }
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-background {
  background: $home-gradient;
}

.skill-background { 
  background: $skill-gradient;
}

.project-background { 
  background: $project-gradient;
}

.container {
  @include size(65%, 65%);
  @include flexbox();
  @include box-shadow();
  
  background-color: $white;

  @include align-items(stretch);
  @include align-content(stretch);

  .aside {
    @include size(100%, 41.20%);
    @include flexbox();
    
    background-color: $home-02;

    .developer {
      @include size(100%, 100%);
      @include flexbox();
      @include align-items(flex-end);

      text-align: center;

      footer {
        @include size(50px);
        color: $white;
      }
    }
  }

  section {
    @include size(100%, 41.20%);
    @include flex-grow(1);
    
    padding: 50px 70px;
  }
}

.nav {
  @include flexbox();
  flex-direction: column;
  height: 100%;
  width: 125px;
  background-color: $light-grey;
  list-style-type: none;

  &__item {
    @include flexbox("center");
    height: 125px;
    width: 100%;
    color: $grey;

    &:hover {
      background-color: $🧀;
      color: $white;
    }
  }
}

.home {
  &__title {
    font: {
      family: 'Lato';
      size: $title-size;
      weight: $black-weight;
    }
    line-height: 30px;
    text-transform: uppercase;
  }

  &__text {
    font: {
      family: 'Lato';
      weight: $light-weight;
    }
    line-height: 25px;
  }
}