.developer {
  @include size(55%, 67%);
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include box-shadow(-3px, 3px, 10px, -2px);
  @include transition();
  
  @include mq('desktop-height', max, height) {
    height: 75%;
  }
  @include mq('desktop') {
    width: 70%;
  }
  @include mq('tablet-wide') {
    width: 85%;
  }
  @include mq('tablet') {
    @include size();
    @include justify-content(center);
    background-color: $transparent;
  }

  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  &--about {
    background-color: $about-02;
  }

  &--skill {
    background-color: $skill-02;
  }

  &--project {
    background-color: $project-02;
  }
  
  &__img {
    @include size(225px, 225px);
    @include transition();

    @include mq('desktop-wide') {
      @include size(175px, 175px);
    }
    @include mq('tablet') {
      @include size(225px, 225px);
    }
    
    margin-top: 50px;
    border: 10px solid $white;
    border-radius: 50%;
  }

  &__name {
    @include transition();
    margin: 20px 0 10px 0;
    line-height: 28px;
    font: {
      size: $name-size;
      weight: $medium-weight;
    }

    @include mq('desktop-wide', min) {
      font-size: $name-size-lg;
    }
  }

  &__type {
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: $light-weight;
  }

  &__spacer {
    @include size(80%, 1px);
    margin-top: 20px;
    background-color: $white;

    @include mq('tablet') {
      @include size(0, 0);
    }
  }

  &__footer {
    @include size(100%, 50px);
    position: absolute;
    bottom: 20px;
    color: $white;

    i {
      margin: 0 15px;

      &:hover {
        color: $🧀;
      }
    }
  }
}