.background {
  &-1 {
    @include size(37%, 100%);
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    @include transition(1s, background-color);
    @include transition(1s, width);

    @include mq('tablet') {
      @include size(100%, calc(100% - 60px));
    }
  }

  &-2 {
    @include size(100px, 100%);
    @include flexbox();
    @include align-items(center);
    @include transition(1s, background-color);
    @include transition(1s, width);

    @include mq-range('tablet', 'tablet-wide') {
      @include size(70px, 100%);
    }

    @include mq('tablet') {
      @include size(100%, 60px);
      @include align-items(none);

      position: absolute;
      display: fixed;
      bottom: 0px;
      z-index: 1;
    }
  }

  &-3 {
    @include size(calc(63% - 100px), 100%);
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-start);
    @include transition(1s, background-color);
    @include transition(1s, width);
    
    @include mq-range('tablet', 'tablet-wide') {
      @include size(calc(63% - 70px), 100%);
    }
    @include mq('tablet') {
      @include size(100%, calc(100% - 60px));

      background-color: $transparent;
      position: absolute;
    }
  }

  &--home {
    @for $i from 1 through 3 {
      @include backgroundColor('home', $i);
    }
  }

  &--about {
    @for $i from 1 through 3 {
      @include backgroundColor('about', $i);
    }
  }
  &--skill {
    @for $i from 1 through 3 {
      @include backgroundColor('skill', $i);
    }
  }
  &--project {
    @for $i from 1 through 3 {
      @include backgroundColor('project', $i);
    }
  }
}

.wrapper {
  @include size();
  @include flexbox();
  @include justify-content(center);
  @include align-items(stretch);
  @include align-content(stretch);

  @include mq('tablet') {
    @include justify-content(flex-start);
    @include flex-direction(column);
  }
}