.nav {
  @include size(100%, 67%);
  @include box-shadow(0, 3px, 10px, -2px);
  @include transition(all 1s ease);
  @include mq('desktop-height', max, height) {
    @include size(100%, 75%);
  }
  @include mq('tablet') {
    @include size();
    @include box-shadow(0, 0, 10px, 0px);
    position: absolute;
    bottom: 0;
  }

  &__list {
    @include size();
    @include flexbox();
    @include flex-direction(column);

    @include mq('tablet') {
      @include flex-direction(row);
    }

    background-color: $light-grey;
    list-style-type: none;

    &-item {
      @include size(100%, 100px);
      @include flexbox('center');
      @include mq('desktop-wide', min) {
        @include size(100%, 125px);
      }
      @include mq('tablet') {
        @include size();
      }

      color: $grey;
      text-align: center;

      &:hover {
        background-color: $🧀;
        color: $white;
      }

      &--active {
        background-color: $🧀;
        color: $white;
      }

      &--phone {
        @extend .nav__list-item;
        display: none;
        @include mq('tablet') {
          @include flexbox('center');
        }
      }
    } 
  }
}