section {
  @include size();

  @include mq('tablet') {
    padding: 20px 20px 0 20px;
  }

  padding: 20px 30px 0 30px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 15px;
    background-color: $light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $🧀;
  }
}

.ghost {
  display: none;
}

.transparent {
  @include mq('tablet') {
    opacity: 0;
  }
}

.title {
  @include mq('tablet') {
    color: $white; 
  }
  @include mq('phone-wide') {
    font-size: 1.3em;
  }

  line-height: 30px;
  text-transform: uppercase;

  font: {
    size: $title-size;
    weight: $black-weight;
  }
}

.text {
  @include mq('tablet') {
    border-color: $white;
    color: $white; 
  }

  line-height: 25px;
  font-weight: $light-weight;
  margin-bottom: 0;
}

.container {
  @include size(70%, 67%);
  @include box-shadow(3px, 3px, 10px, -2px);
  @include transition();

  @include mq('desktop-height', max, height) {
    height: 75%;
  }
  @include mq('desktop') {
    width: 80%;
  }
  @include mq('tablet-wide') {
    width: 85%;
  }
  @include mq('tablet') {
    @include size();
    @include box-shadow(none);
    background-color: $transparent;
  }

  background-color: $white;
}

.about {
  &__title {
    @extend .title;
  }

  &__text {
    @extend .text;
    @include mq('desktop') {
      line-height: 20px;
    }
  }
}

.skill {
  &__title {
    @extend .title;
  }

  &__list {
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-content(flex-start);
    @include mq('tablet') {
      color: $white; 
    }

    text-transform: uppercase;
    color: $grey;
    
    &-item {
      @include mq('desktop-wide', min) {
        padding: 20px;
      }
      @include mq('tablet-wide') {
        padding: 10px;
      }
      @include mq('tablet') {
        border-color: $white;
      }

      margin: 3px;
      padding: 15px;
      border: 2px solid $grey;
      font-weight: $medium-weight;

      &:hover {
        background-color: $🧀;
        color: $white;
      }
    }
  }
}

.project {
  &__title {
    @extend .title;
  }

  &__list {
    @include size(auto, 89%);
    @include flexbox(center);
    @include flex-wrap(wrap);
    @include align-content(flex-start);

    &-item {
      @include size(45%, 30%);
      @include transition();
      
      @include mq('desktop-wide', min) {
        @include size(calc(45% - 20px), 200px);
      }
      @include mq('desktop') {
        @include size(45%, 25%);
      }
      @include mq('desktop-small') {
        @include size(90%, 45%);
      }

      display: inline-block;
      position: relative;
      margin: 0px 9px 20px 9px;
      border: 1px solid $grey;
      font-weight: $medium-weight;
      background: $project-03;
      
      &--img {
        @include size();
        position: absolute;
      }

      &--text {
        padding: 10px;
        color: $white;
        display: none;
        position: absolute;
      }

      &:hover {
        .project__list-item--img {
          opacity: 0.2;
        }

        .project__list-item--text {
          display: block;
        }
      }
    }
  }
}