// Colors
$white: #fff !default;
$light-grey: #EEE !default;
$grey: #8A8A8A !default;
$dark-grey: #333 !default;
$light-🧀: yellow !default;
$🧀: #F4B90A !default;
$dark-🧀: #C29608 !default;
$shadow: rgba(0,0,0,0.75) !default;
$transparent: rgba(0, 0, 0, 0) !default;


$about-01:    #4F3FA5 !default;
$about-02:    #604EC8 !default;
$about-03:    #715BEB !default;

$skill-01:   #3F55A5 !default;
$skill-02:   #4E5AC8 !default;
$skill-03:   #5B5CEB !default;

$project-01:   #3F77A5 !default;
$project-02:   #4E8DC8 !default;
$project-03:   #5BA7EB !default;

$home: $about-02, $about-03, $about-01;
$about: $about-01, $about-02, $about-03;
$skill: $skill-01, $skill-02, $skill-03;
$project: $project-01, $project-02, $project-03;

//fonts
$lato-font: 'lato', sans-serif !default;
$light-weight: 300 !default;
$regular-weight: 400 !default;
$medium-weight: 500 !default;
$black-weight: 900 !default;

$root-size-sm: 12px !default;
$root-size: 16px !default;
$root-size-lg: 20px !default;
$base-size: 1rem !default;
$name-size-sm: 19px !default;
$name-size: 23px !default;
$name-size-lg: 27px !default;

$title-size: 26px !default;

// Breakpoint setup for media queries
$breakpoints: ( 'phone': 400px, 'phone-wide': 480px, 'phablet': 560px,
        'tablet-small': 640px, 'tablet': 768px, 'tablet-wide': 1024px, 
        'desktop-small': 1150px, 'desktop': 1270px, 'desktop-wide': 1440px, 
        'desktop-height':800px);